<h1>Discussion: <%= @discussion.title %></h1>
<hr>

<div>
  <%= @discussion.body %>
</div>
<hr>
<div id="comments_new">
   <%= render "/comments/comment_form" %>
</div>
<hr>
<div id="comments">
  <% @comments.each do |f| %>
    <%= render "/comments/comment_discussion", f: f %>
  <% end %>
</div>
