<h1>Edit</h1>
<%= form_for [@discussion,@comment], url: discussion_comment_path(@discussion,@comment) do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
  <%= f.submit %>
<% end %>
